.header {
  a {
    text-decoration: none;
    color: var(--color-grey-dark);
  }

  &__logo {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav-bar {
    font-size: 1.6rem;
    list-style: none;
  }
}
