:root {
  --color-grey-dark: rgb(49, 49, 49);
  --color-grey-light-1: rgb(168, 168, 168);
  --color-grey-light-2: rgb(247, 245, 245);
  --font-noto-jp: "Noto Sans JP"; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  font-family: var(--font-noto-jp);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey-dark); }

.btn {
  text-decoration: none;
  color: var(--color-grey-dark);
  border: 1px solid var(--color-grey-dark);
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: var(--color-grey-dark);
    color: var(--color-grey-light-2); }

.title {
  font-size: 2.1rem; }

.header {
  padding: 4.5rem 8rem 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-grey-dark);
    text-decoration: none; }
  .header__nav-bar {
    font-size: 1.6rem;
    list-style: none;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem; }
    .header__nav-bar a {
      padding-bottom: 0.2rem;
      text-decoration: none;
      color: var(--color-grey-light-1);
      border-bottom: 2px solid transparent;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s; }
    .header__nav-bar a:hover {
      color: var(--color-grey-dark);
      border-bottom: 2px solid var(--color-grey-dark); }

.hero {
  height: calc(100vh - 9.8rem);
  text-align: center;
  letter-spacing: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero__container {
    position: relative;
    height: 100%;
    padding-top: 8rem; }
  .hero h1 {
    font-size: 6.5rem;
    font-weight: 400;
    margin-bottom: 1rem; }
    .hero h1 .name {
      font-weight: 700; }
  .hero h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 7rem; }
  .hero h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .hero__down-arrow {
    font-size: 4.1rem;
    color: var(--color-grey-dark);
    position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }

.skills {
  padding: 10rem 8rem; }
  .skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    justify-items: center;
    margin-top: 7rem;
    list-style: none; }
    .skills__list--skill {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 700;
      width: 11rem;
      height: 11rem;
      border: 2px solid var(--color-grey-dark);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
